$primaryColor: #64c29e;
$white: white;
$grayBg: #f7f7f7;
$textColor: #848789;
$sectionHeading: #353738;
$darkBg: #282f35;
$grayBorder: #d3d7d9;
$twitterColor: #56c7ee;
$facebook-f: #537bbd;
$pinterest: #eb5755;
$brandColor: (
	twitter: #56c7ee,
	facebook-f: #537bbd,
	pinterest: #eb5755
);
